div {
    border: 1px solid;
    height: 5rem;
    margin: 1rem;
}

.container_1 {
    background-color: yellow;
}

.container_2 {
    background-color: blue;
}

.container_3 {
    background-color: green;
}

.container_4 {
    background-color: red;
}