.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  color: #000000;
  width: 100%;

}

.brand-title {
  font-family: Arial;
  font-size: 16px;
  font-weight: 700px;
  line-height: 26px;
  letter-spacing: 0.2px;
  text-align: left;
  padding: 16px;
  color: #000000F2;

}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  padding: 16px;
}


.toggle-button {
  position: absolute;
  top: 16px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}



@media screen and (max-width:600px) {
  .toggle-button {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 10px;
    background-color: #FAFAFA;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
    padding: 16px;
  }

  .navbar-links ul li {
    padding: .5rem 1rem;
    color: #00000099;
    
  }
  .setUp{
  padding: 16px;
  font-weight: 400px;
  width: 100%;
  }
  .whatNew{
    padding: 16px;
  }
  .accessories{
    padding: 16px;
  }
  .help{
    padding: 16px;
  }
  .navbar-links.active {
    display: inline-block;
  }


}