.img{
    opacity: 5%;
 }
 .title{
     
     font-size: 4vw;
     color: white;
     padding-left: 30px;
  
     padding-top: 80px;
     
 }
 .h1{
     font-size: 50px;
 }
 .h2{
     font-size: 30px;
 }
 .subtitle{
    font-size: 2vw;
     text-align: left;
     width: 30em;
     padding-left: 30px;
     color: white;
     
 }
 .img {
     background-color: var(--dxp-g-brand-1);
     border-radius: 16%;
     background-image:url(url) ;
    
 }
 .modal-container {
     height : var(--modalHeight, 500px);
     background-image: url(--modelimage,);
 }
 .imagevar{
     background-color: #cccccc;
     background-image: url({url});
     border: 20px;
     font-size: 80px;
     color: red;
 }